<div class="listings">
	<h2 class="products">Our Collection</h2>
	<ul>
		<li>
			<a ui-sref="details({key:'0'})">Gibson Les Paul</a>
		</li>
		<li>
			<a ui-sref="details({key:'1'})">Fender Stratocaster</a>
		</li>
		<li>
			<a ui-sref="details({key:'2'})">Fender Telecaster</a>
		</li>
		<li>
			<a ui-sref="details({key:'3'})">Cort CR200</a>
		</li>
		<li>
			<a ui-sref="details({key:'4'})">Epiphone LP200</a>
		</li>
		<li>
			<a ui-sref="details({key:'5'})">Martin Acoustic Guitars</a>
		</li>
		<li>
			<a ui-sref="details({key:'6'})">Taylor Acoustic Guitars</a>
		</li>
		<li>
			<a ui-sref="details({key:'7'})">Gibson SG</a>
		</li>
		<li>
			<a ui-sref="details({key:'8'})">Gibson Customs</a>
		</li>
		<li>
			<a ui-sref="details({key:'9'})">Gibson ES</a>
		</li>
	</ul>
</div>